// sidebar
$menuText:#6096B4;
$menuActiveText:#ffd04b;
$subMenuActiveText:#93BFCF; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#545c64;
$menuHover:#263445;

$subMenuBg:#6096B4;
$subMenuHover:#545c64;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
